{% extends "base.html" %}

{% block name_me %}
 Detailed Restaurant list
{% endblock name_me %}

{% block stuff %}
	<a href="{% url 'restaurants_list' %}">
	<p>
		Back to the restaurants list
	</p>
	</a>

	<div class="card" style="width: 18rem;">
			{% if restaurant_detail.image %}
				<img height="200px" width="200px" class="card-img-top" src="{{restaurant_detail.image.url}}" alt="Card image cap">
			{% endif %}
  	<div class="card-body">
    <h5 class="card-title">Name: {{restaurant_detail.name}}</h5>
    <p class="card-text">Description: {{restaurant_detail.description}}</p>
    <p class="card-text">Opening time: {{restaurant_detail.opening_time}}</p>
    <p class="card-text">Closing time: {{restaurant_detail.closing_time}}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  	</div>
	</div>


	<ul>

		{% for item in items %}
		<li>{{item.name}}</li>
		<li>{{item.description}}</li>
		<li>{{item.price}}</li>
		{% endfor %}
	</ul>



{% endblock stuff %}

<ul>
		<li>Name: {{restaurant_detail.name}}</li>
		<li>Description: {{restaurant_detail.description}}</li>
		<li>Opening time: {{restaurant_detail.opening_time}}</li>
		<li>Closing time: {{restaurant_detail.closing_time}}</li>
	</ul>

