{% extends "base.html" %}

{% block name_me %}
Restaurant
{% endblock name_me %}

{% block stuff %}
<body>
	{% for item in restaurants %}
	<a href="{% url 'restaurant_detail' restaurant_id=item.id %}">
	<ul>
		<li>Name: {{item.name}}</li>
		<li>Description: {{item.description}}</li>
		<li>Opening time: {{item.opening_time}}</li>
		<li>Closing time: {{item.closing_time}}</li>
		<li><a href="{% url 'delete' restaurant_id=item.id %}"><input type="button" value="delete"></a></li>
		<li><a href="{% url 'restaurant_update' restaurant_id=item.id %}"><input type="button" value="update"></a></li>
	</ul>
    </a>
	{% endfor %}


</body>
{% endblock stuff %}